* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

h1 {color: purple;}

h2 {color: blueviolet;}

#Sports h2 {color: aqua;}

.creation-date {color: red;}

h1:hover {color: gold;}

header li {display: inline;}

.container {width: 1024px; margin: 0px auto;}

.articles {display: flex; flex-wrap: wrap; justify-content: space-between;}

.articles article img {height: 180px;}

.articles article {width: 30%;}